body{
	margin:0;
	padding:0;
	
}
.beijing{
	height:960px;
	width:540px;
	background:url(../img/2h-da-bj.jpg);
	background-size:cover;
}
.beijing .sx{
	margin-top:450px;
	margin-left:380px;
}