body{
	margin:0;
	padding:0;
	background-image:url(../img/2h-da-bj.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-attachment: scroll;
}


.beijing .sx{
	margin-top:85%;
	margin-left:70%;
}