body{
	margin:0;
	padding:0;
	background-image:url(../img/2h-hu-bj.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-attachment: scroll;
}

/* .beijing .erhdt3{
	margin-top:0;
	margin-left:203px;
	
}
.beijing .erhdt2{
	margin-top:145px;
	
} */
.beijing .sx{
	margin-top:3%;
	margin-left:70%;
}
.beijing .erhdt1{
	margin-left:19.3%;
	margin-top:90.52%;
	
}