body{
	margin:0;
	padding:0;
	background-image:url(../img/2h-nian-bj.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-attachment: scroll;
}

.beijing .sx{
	margin-top:3%;
	margin-left:70%;
}
.beijing .erhdt1{
	margin-top:74.3%;
	
	
}
