body{
	margin:0;
	padding:0;
	
}
.beijing{
	height:960px;
	width:540px;
	background:url(../img/beijing.jpg);
	background-size: cover;
}
.beijing .sx{
	margin-top:20px;
	margin-left:380px;
}
.beijing .cd{
	margin-top:4px;
}