body{
	margin:0;
	padding:0;
	
}
.beijing{
	height:960px;
	width:540px;
	background:url(../img/cdgd-bj.jpg);
	background-size: cover;
}
.beijing .cd{
	margin-top:100px;
	margin-left:60px;
	
}
.beijing .cdh{
	margin-top:108px;
	margin-left:108px;
}