body{
	margin:0;
	padding:0;
	background-image:url(../img/cdgd-bj.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-attachment: scroll;
}

.beijing .cd{
	margin-top:19%;
	margin-left:10.4%;
	
}
.beijing .cdh{
	margin-top:19.7%;
	margin-left:20.18%;
}