body{
	margin:0;
	padding:0;
	background-image:url(../img/hongbao.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-attachment: scroll;
}
.fengmian .dtji{
	font-size: 0;
	/* display:flex; */
	margin-top:56%;
	margin-left:31.5%;
}

/* .fengmian .dongtu{
	margin-top:75%;
} */