body{
	margin:0;
	padding:0;
	background-image:url(../img/zp-bj.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-x: center;
	background-attachment: scroll;
}

.beijing .zpdt{
	margin-top:89%;
	margin-left:12%;
	
}